html {
	box-sizing: border-box;
	height: 100%;
}
body {
	height: 100%;
	display: flex;
	flex-direction: column;
	line-height: 1.56;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-size: 16px;
	font-weight: 600;
	color: #455445;
	background-color: #ffffff;
	overflow-x: hidden;
}
.container {
	max-width: 1740px;
	margin: 0 auto;
	padding: 0 10px;
}
main {
	flex-grow: 1;
}
%text-wrap5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}