@media (min-width: 1700px) {
  .header__item--right {
    flex: 0 0 calc(100vw - (((100vw - 1600px) / 2) + ((1760px - 40px) * 0.4) + 20px));
  }
}

@media (min-width: 991px) {
  .header__body {
    width: 40%;
  }

  .header__items {
    display: flex;
  }

  .header__item--right {
    flex: 0 0 calc(((100vw - 40px) * 0.55) + 20px);
    transform: translate(-100%, 0px);
    position: relative;
    min-width: 0;
  }


}



@media (max-width: 1560px) {
  .header__item--left {
    padding: 75px 0 45px 0;
  }

  .header__photo2 {
    width: 32%;
  }

  .header__photo3 {
    width: 42%;
  }
}

@media (max-width: 1460px) {
  .header__item--left {
    padding: 60px 0 40px 0;
  }

  .header__title {
    font-size: 90px;
  }

  .header__content {
    padding-left: 70px;
  }

  .header__photo3 {
    width: 40%;
  }

  .header__span {
    margin-left: 70px;
  }

  .header__title--surname {
    margin-left: 70px;
  }

  .header__navigation {
    padding: 30px 20px;
  }
}

@media (max-width: 1360px) {
  .header__photo3 {
    width: 45%;
  }

  .header__photo2 {
    width: 35%;
  }

  .header__span {
    margin-bottom: 50px;
    font-size: 30px;
  }

  .header__content {
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  .nav__item--adaptive {
    display: block;
  }

  .header__item--left {
    padding: 40px 0 30px 0;
  }

  .header__navigation {
    padding: 20px 20px;
  }

  .header__title {
    margin-bottom: 10px;
    font-size: 84px;
  }

  .header__title--surname {
    margin-left: 30px;
    margin-bottom: 15px;
  }

  .header__span {
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 28px;
  }

  .header__content {
    line-height: 1.5;
    font-size: 14px;
  }

  .nav__list {
    margin-left: 0;
  }
}

@media (max-width: 990px) {
  .header__title {
    display: inline-block;
  }

  .header__title:not(:last-child) {
    margin-left: 40px;
    margin-bottom: 24px;
  }

  .header__content {
    font-size: 18px;
  }

  .header__span {
    display: inline-block;
    margin-left: 55px;
    margin-bottom: 30px;
  }

  .header__item--left {
    width: 100%;
  }

  .header__item--right {
    height: 600px;
  }

  .news {
    padding: 80px 0 160px;
  }

  .news__title {
    font-size: 80px;
  }
  .news__items{
    margin-bottom: 50px;
  }
  .news__items{
    grid-template-columns: repeat(2, 1fr);
  }


  .header__photo {
    position: relative;
  }

  .header__photo2 {
    top: 0;
  }

  .nav__list {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    padding: 80px 0 50px 80px;
    min-height: 300px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s;
  }

  .nav__list.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .nav__item {
    margin-bottom: 20px;
  }

  .nav__link {
    color: #ffffff;
  }

  .burger-menu {
    display: block;
    width: 44px;
    height: 30px;
    cursor: pointer;
    z-index: 110;
    position: relative;
  }

  .burger-menu p {
    position: absolute;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
  }

  .burger-menu span,
  .burger-menu::before,
  .burger-menu::after {
    right: 0;
    position: absolute;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: #455445;
  }

  .burger-menu::before,
  .burger-menu::after {
    content: "";
    width: 100%;
  }

  .burger-menu::before {
    top: 0;
  }

  .burger-menu::after {
    bottom: 0;
  }

  .burger-menu span {
    width: 100%;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .burger-menu.active span {
    transform: scale(0) translate(0px, -50%);
  }

  .burger-menu.active::before {
    background-color: #fff;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .burger-menu.active::after {
    background-color: #fff;
    width: 100%;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .burger-menu__text.active {
    display: none;
  }

  .header__arrow {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__content {
    font-size: 16px;
  }

  .header__title:not(:last-child) {
    margin-bottom: 18px;
  }

  .news {
    padding: 40px 0 160px;
  }

  .news .container {
    padding: 0;
  }

  .news__title {
    text-align: center;
  }

  .news__date {
    margin-left: 10px;
  }

  .news__content {
    margin-left: 10px;
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .nav__list {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .header__title {
    font-size: 80px;
    margin-bottom: 20px;
  }

  .header__navigation {
    padding: 30px 25px;
  }

  .header__item--left {
    padding-left: 25px;
    padding-right: 25px;
  }

  .header__item--right {
    height: 500px;
  }

  .header__span {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .header__span {
    margin-left: 0;
  }

  .header__content {
    margin-left: 0;
    padding-left: 0;
  }

  .header__title:not(:last-child) {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 64px;
  }

  .header__navigation {
    padding: 30px 15px;
  }

  .header__content {
    font-size: 14px;
  }

  .header__text:not(:last-child) {
    margin-bottom: 20px;
  }

  .news__title {
    font-size: 64px;
  }


  .header__item--right {
    height: 400px;
  }

  .news__img {
    width: 100%;
  }
  .news__items{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 30px;
  }

  .news__content {
    margin-bottom: 100px;
  }

  .burger-menu__text {
    display: none;
  }

  .nav__list {
    padding: 30px 50px;
  }
}
