@media (max-width: 1560px) {
  .header__item--left {
    padding: 75px 0 45px 0;
  }

  .header__photo2 {
    width: 32%;
  }

  .header__photo3 {
    width: 42%;
  }
}

@media (max-width: 1460px) {
  .header__item--left {
    padding: 60px 0 40px 0;
  }

  .header__title {
    font-size: 90px;
  }

  .header__content {
    padding-left: 70px;
  }

  .header__photo3 {
    width: 40%;
  }

  .header__span {
    margin-left: 70px;
  }

  .header__title--surname {
    margin-left: 70px;
  }

  .header__navigation {
    padding: 30px 20px;
  }
}

@media (max-width: 1360px) {
  .header__photo3 {
    width: 45%;
  }

  .header__photo2 {
    width: 35%;
  }

  .header__span {
    margin-bottom: 50px;
    font-size: 30px;
  }

  .header__content {
    font-size: 16px;
  }

  .actor__items--info {
    width: 50%;
  }
}

@media (max-width: 1199px) {
  .nav__item--adaptive {
    display: block;
  }

  .header__item--left {
    padding: 40px 0 30px 0;
  }

  .header__navigation {
    padding: 20px 20px;
  }

  .header__title {
    margin-bottom: 10px;
    font-size: 84px;
  }

  .header__title--surname {
    margin-left: 30px;
    margin-bottom: 15px;
  }

  .header__span {
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 28px;
  }

  .header__content {
    line-height: 1.5;
    font-size: 14px;
  }

  .nav__list {
    margin-left: 0;
  }

  .actors__box {
    margin-bottom: 100px;
  }

  .actors__items {
    gap: 150px 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .new__items {
    gap: 100px 20px;
  }

}

@media (max-width: 990px) {
  .header__title {
    display: inline-block;
  }

  .header__title:not(:last-child) {
    margin-left: 40px;
    margin-bottom: 24px;
  }

  .header__content {
    font-size: 18px;
  }

  .header__span {
    display: inline-block;
    margin-left: 55px;
    margin-bottom: 30px;
  }

  .header__item--left {
    width: 100%;
  }

  .header__item--right {
    height: 600px;
  }

  .news {
    padding: 80px 0 160px;
  }

  .news__title {
    font-size: 80px;
  }

  .news__items {
    margin-bottom: 50px;
  }

  .news__items {
    grid-template-columns: repeat(2, 1fr);
  }


  .header__photo {
    position: relative;
  }

  .header__photo2 {
    top: 0;
  }

  .nav__list {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    padding: 80px 0 50px 80px;
    min-height: 300px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s;
  }

  .nav__list.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .nav__item {
    margin-bottom: 20px;

    &--news {
      margin-bottom: 50px;
    }

    &--contacts {
      display: none;
    }
  }

  .nav__contacts--media {
    display: flex;
    color: #ffffff;
  }

  .nav__link {
    color: #ffffff;
  }

  .burger-menu {
    display: block;
    width: 44px;
    height: 30px;
    cursor: pointer;
    z-index: 110;
    position: relative;
  }

  .burger-menu p {
    position: absolute;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
  }

  .burger-menu span,
  .burger-menu::before,
  .burger-menu::after {
    right: 0;
    position: absolute;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: #455445;
  }

  .burger-menu::before,
  .burger-menu::after {
    content: "";
    width: 100%;
  }

  .burger-menu::before {
    top: 0;
  }

  .burger-menu::after {
    bottom: 0;
  }

  .burger-menu span {
    width: 100%;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .burger-menu.active span {
    transform: scale(0) translate(0px, -50%);
  }

  .burger-menu.active::before {
    background-color: #fff;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .burger-menu.active::after {
    background-color: #fff;
    width: 100%;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .burger-menu__text.active {
    display: none;
  }

  .header__arrow {
    display: none;
  }

  .actors__title {
    font-size: 80px;
  }

  .new__title {
    font-size: 80px;
  }

  .new__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 20px;
  }

  .news__name {
    font-size: 16px;
  }

  .news__text {
    font-size: 14px;
  }

  .info .container {
    padding: 0;
  }

  .info__content {
    max-width: none;
  }

  .info .breadcrumb {
    padding: 0 15px;
  }

  .info .info__date {
    margin-left: 15px;
  }

  .info .info__title {
    padding: 0 15px;
  }

  .info .info__subtitle {
    margin-left: 15px;
  }

  .info .info__text {
    padding: 0 15px;
  }

  .info .info__about {
    padding: 0 15px;
  }

  .actor__inner {
    padding: 0 15px;
  }

  .actor__photo,
  .actor__video {
    display: none;
  }

  .actor__photo--media,
  .actor__video--media {
    display: block;
  }

  .actor__inner {
    flex-direction: column;
  }

  .actor__items {
    width: 100%;
  }

  .actor__items--info {
    margin-bottom: 100px;

  }

  .actor__img {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header__content {
    font-size: 16px;
  }

  .header__title:not(:last-child) {
    margin-bottom: 18px;
  }

  .news {
    padding: 40px 0 160px;
  }

  .news .container {
    padding: 0;
  }

  .news__title {
    text-align: center;
  }

  .news__date {
    margin-left: 10px;
  }

  .news__content {
    margin-left: 10px;
    max-width: 90%;
  }

  .new .container {
    padding: 0;
  }

  .new__title {
    padding: 0 15px;
  }

  .new__select {
    margin-left: 15px;
  }

  .new .breadcrumb {
    padding: 0 15px;
  }
}

@media (max-width: 600px) {
  .nav__list {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .header__title {
    font-size: 80px;
    margin-bottom: 20px;
  }

  .header__navigation {
    padding: 30px 25px;
  }

  .header__item--left {
    padding-left: 25px;
    padding-right: 25px;
  }

  .header__item--right {
    height: 500px;
  }

  .header__span {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .header__span {
    margin-left: 0;
  }

  .header__content {
    margin-left: 0;
    padding-left: 0;
  }

  .header__title:not(:last-child) {
    margin-left: 0;
  }

  .actors__box {
    margin-bottom: 100px;
    flex-direction: column;
    align-items: baseline;
  }

  .actors__download {
    align-self: baseline;
  }

  .actors__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .actors__title {
    line-height: 90px;
    margin-bottom: 20px;
  }

  .breadcrumb {
    margin-bottom: 30px;
  }

  .actors__item {

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-child(6n-4) {
      transform: translateY(0);
    }

    &:nth-child(6n-3) {
      transform: translateY(0);
    }

    &:nth-child(6n-2) {
      transform: translateY(0);
    }

    &:nth-child(6n-1) {
      transform: translateY(0);
    }

    &:nth-child(6n) {
      transform: translateY(0);
    }

    &:nth-child(odd) {
      margin-right: 10px;
      transform: translateY(-50px);
    }
  }

  .actors .breadcrumb {
    padding: 0 15px;
  }

  .actors__box {
    padding: 0 15px;
  }

  .actors .container {
    padding: 0;
  }

  .actor__box {
    flex-direction: column;
  }

  .actors__download {
    font-size: 14px;

    &::before {
      height: 30px;
    }
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 64px;
  }

  .header__navigation {
    padding: 25px 15px;
  }

  .header__content {
    font-size: 14px;
  }

  .header__text:not(:last-child) {
    margin-bottom: 20px;
  }

  .news__title {
    font-size: 64px;
  }


  .header__item--right {
    height: 400px;
  }

  .header__item--left {
    padding: 20px 15px;
  }

  .news__img {
    width: 100%;
  }

  .news__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 30px;
  }

  .news__content {
    margin-bottom: 100px;
  }

  .news__btn {
    padding: 30px 70px;
  }

  .nav__list {
    padding: 30px 50px;
  }

  .logo {
    margin-right: 70px;
  }

  .burger-menu {
    width: 38px;
    height: 20px;
  }

  .burger-menu span,
  .burger-menu::after,
  .burger-menu::before {
    height: 3px;
  }

  .nav__contacts--media {
    flex-wrap: wrap;
  }

  .nav__item-telegramm {
    margin-bottom: 10px;
  }

  .nav__item-phone {
    margin-bottom: 10px;
  }

  .actors {
    padding: 35px 0 80px;
  }

  .actors__items {
    gap: 100px 0
  }

  .actors__title {
    font-size: 64px;
  }

  .actors__name,
  .actors__surname {
    font-size: 16px;
  }

  .new__title {
    font-size: 64px;
  }

  .new__items {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 50px;
  }

  .info__title {
    font-size: 27px;
  }

  .info__text,
  .info__about {
    font-size: 16px;
  }

  .actor {
    padding: 65px 0 100px;
  }

  .actor__name,
  .actor__surname {
    font-size: 27px;
  }

  .actor__items--info {
    padding: 30px 10px;
  }

  .actor__common {
    padding: 0;
  }

  .actor__subtitle {
    font-size: 20px;
  }

  .actor__caption {
    padding: 0;
    text-align: center;
  }

  .gallery-box {
    display: block;
  }

  .gallery-title {
    margin: 0;
  }

  .gallery-container {
    margin-bottom: 20px;
  }

  .actor__video--box {
    display: block;
  }

  .actor__video--container {
    margin-bottom: 20px;
  }

  .actor__common--info span {
    width: 100%;
  }

  .actor__common--name span {
    width: 100%;
  }

  .actor__common--name,
  .actor__common--info {
    flex-direction: column;
  }
  .burger-menu p{
    left: -55px;
  }
}

@media (min-width: 991px) {
  .header__body {
    width: 40%;
  }

  .header__items {
    display: flex;
  }

  .header__item--right {
    flex: 0 0 calc(((100vw - 40px) * 0.55) + 20px);
    transform: translate(-100%, 0px);
    position: relative;
    min-width: 0;
  }


}